<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Merriweather:wght@300&family=Princess+Sofia&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/tratamientos.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="css/calendario.css">
    <title>{{titulo}}</title>

</head>
<body>
      <div id="navbar" class="container">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container"> 
                <a class="navbar-brand fontCarta" href="#"><img id="logoNav" src="img/logoPilarNegro.png" alt="Logo Pilar Castillo Plaza"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-sm-end" id="navbarNav">
                    <ul id="navColor" class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li> 
                        <li class="nav-item">
                        <a class="nav-link active" href="/#nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" href="/#cntContacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

        <div class="container fixed-top ">
        <div id="navReserva" class="row ">
            <div class="col-md-4 d-flex justify-content-center align-items-center" id="btnNavReservas">
            </div>
            <div class="col-md-2" id="divNavSeparador"></div>
            <div class="col-md-6 d-flex justify-content-end align-items-center" id="divNavRrss">
                <a href="tel:5493816173555"><img id="lgTel" src="img/logoTelefonoN.png" alt="logo telefono"></a>                
                <a href=""><img id="lgFace" src="img/logoFacebookN.png" alt="logo facebook"></a>                
                <a href="https://www.instagram.com/pilarcastillo_studio" target="__blank"><img id="lgIg" src="img/logoInstagramN.png" alt="logo Instagram"></a>
            </div>
        </div>
    </div> 


    <div id="containerPpal" class="container-fluid">
  {{{body}}}
    </div>

    <footer class="footer fixed-bottom text-center">
        <div class="container-fluid p-2">
            <div class="row justify-content-center align-items-center">
                <div class="col">
                    <img id="logoFooter" src="img/logoPilarBlanco.png" alt="Logo Pilar-Castillo-Plaza">
                </div>
                <div class="col"> Desarrollado por 
                    <a href="https://www.linkedin.com/in/guillermo-suruguay-desarrollador-web" target="_blank">Guillermo Suruguay</a>
                </div>
            </div>            
        </div>
    </footer>

  <script src="js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>